body {background: url(http://ichef.bbci.co.uk/news/1024/media/images/70405000/jpg/_70405852_e4250997-diamonds-spl.jpg);
	
}
h1{
	text-align: center;
}
#rules{
	background-color: lightblue;
	padding: 10;
	border:1px solid;
	opacity: 0.9;
}
#crystals{
	background-color: lightblue;
	padding: 10;
	border:1px solid;
	opacity: 0.9;
}
